/* Botón principal */
button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
  width: 100%; /* Botón centrado y expandido */
  max-width: 600px; /* Limita el ancho máximo */
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Deshabilitado */
button:disabled {
  cursor: not-allowed;
  background: #b0b0b0;
  color: #e0e0e0;
  box-shadow: none;
}

/* Texto del botón */
button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

/* Ícono SVG */
button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

/* Contenedor del ícono */
button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

/* Hover en ícono */
button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}

/* Contenedor general para centrar */
.col-lg-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
